<section class="dp-f ff-cnw ai-c jc-sa section section--off room room--create">
  <header class="section__header room__header sr-only">
    <h1 class="section__title room__title">Create Room</h1>
  </header>
  <div class="dp-f ff-rw room__phrase">
    <h2 class="room__content">
      You're about to create the
      <span class="input-layer-off input-stroke target--room-name">room name</span>
      room for
      <input class="input-layer-off input-stroke input--room-size" type="number" name="players" value="5" min="2" max="5">
      players
    </h2>
  </div>
  <div class="dp-f ff-rnw jc-c btn-wrapper">
    <button class="dp-f btn btn--open-room">Open Room</button>
  </div>
</section>
