<section class="dp-f ff-cnw ai-c jc-sa section section--off room room--created">
  <header class="section__header room__header sr-only">
    <h1 class="section__title room__title">Created Room</h1>
  </header>
  <div class="dp-f ff-cnw ai-c room__phrase">
    <h2 class="room__content">
      You've just created the
      <span class="input-layer-off input-stroke target--room-name">room name</span>
      room for
      <span class="input-layer-off input-stroke target--room-size">0</span>
      players
    </h2>

    <h3 class="room__share">
      Share the <span class="room__share--input input-stroke">room name</span> with friends
    </h3>

    <h3 class="room__share room__joined">
      <span class="room__share--input target--room-size--current">0</span>
      /
      <span class="room__share--input target--room-size">0</span>
      players joined
    </h3>
  </div>
  <div class="dp-f ff-rnw jc-c btn-wrapper">
    <button class="dp-f btn btn--lets-play">Let's Play</button>
  </div>
</section>
