<section class="dp-f ff-cnw ai-c jc-sa section section--off room room--joining">
  <header class="section__header room__header sr-only">
    <h1 class="section__title room__title">Joining Room</h1>
  </header>
  <div class="dp-f ff-cnw ai-c room__phrase">
    <h2 class="room__content">
      You're about to join the
      <div class="dp-f ff-rnw roomname-wrapper">
        <input class="input-layer-off input-underline input-stroke input--room-name" type="text" name="room-name" placeholder="room name">
      </div>
      room
    </h2>
  </div>
  <div class="dp-f ff-rnw jc-c btn-wrapper">
    <button class="dp-f btn btn--join-room">Join Room</button>
  </div>
</section>
