<section class="dp-f ff-cnw ai-c jc-sa section section--off room room--joined">
  <header class="section__header room__header sr-only">
    <h1 class="section__title room__title">Joined Room</h1>
  </header>
  <div class="dp-f ff-cnw ai-c room__phrase">
    <h2 class="room__content">
      You've joined the
      <span class="input-layer-off input-stroke target--room-name joined-roomname">
        room name
      </span>
      room
    </h2>

    <h3 class="room__share">
      Waiting for <span class="room__share--input input-stroke">0</span> more player(s)
    </h3>
  </div>
</section>
