<section class="dp-f ff-cnw ai-c jc-c section landing">
  <header class="dp-f jc-c ai-c landing__header">
    <h1 class="dp-f ff-cnw landing__title">
      Virtual <span class="dp-f as-fe landing__title__span">Lanes</span>
    </h1>
  </header>
  <article class="dp-f ff-cnw ai-c landing__content">
    <h2 class="landing__subtitle">A multiplayer virtual reality bowling game</h2>
    <div class="dp-f ff-rnw ai-c jc-sb btn-wrapper">
      <button class="dp-f btn btn--goto-create-room">Create Room</button>
      <button class="dp-f btn btn--goto-join-room">Join Room</button>
    </div>
  </article>
</section>
