@import 'lib/reset';

:root {
  --purple-color: #3737dd;
  --beige-color: #ffdeaf;
  --light-beige-color: #fff9e6;
  --big-title: 9.5rem;
  --subtitle: 3rem;
  --text: 2.5rem;
  --pxg-regular: px-grotesk;
  --pxg-bold: px-grotesk-bold;
  --room-text: 7.4rem;
  --created-room-text: 4rem;
  --stroke: .1rem var(--purple-color);
}

body {
  font-size: 1.6rem;
  font-family: px-grotesk, -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var(--beige-color);

  width: 100%;
}

/* Flexbox */

.dp-f {
  display: flex;
}

.ff-rnw {
  flex-flow: row nowrap;
}

.ff-rw {
  flex-flow: row wrap;
}

.ff-cnw {
  flex-flow: column nowrap;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start;
}

.as-fs {
  align-self: flex-start;
}

.as-fe {
  align-self: flex-end;
}

/* Screen Reader Only */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Landing page */

.landing {
  padding: 2.5rem 0;
}

.landing__header {
  width: 64.5rem;
  height: 48.5rem;
  background: url(../assets/svg/virtual-lanes-logo.svg) center center no-repeat;
}

.landing__title {
  font-family: var(--pxg-bold);
  font-size: var(--big-title);
  width: 75%;
  color: var(--purple-color);
  margin: 2.5rem 0 0;
}

.landing__subtitle {
  color: var(--purple-color);
  font-size: var(--subtitle);
  padding: 1.5rem 0 5rem;
}

.section {
  width: 100vw;
  height: 100vh;
}

.btn-wrapper {
  width: 100%;
  max-width: 70%;
}

.btn {
  border: .2rem solid var(--purple-color);
  background: transparent;
  outline: none;
  border-radius: 0;
  font-size: var(--text);
  padding: 1rem 1.5rem;
  color: var(--purple-color);
  font-family: var(--pxg-regular);
  position: relative;
  overflow: hidden;
}

.btn::after {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: .45rem;
  position: absolute;
  background-color: var(--purple-color);
  top: calc(50% - .25rem);
  right: -100%;
}

.btn:hover {
  cursor: pointer;

  &::after {
    right: 10%;
    width: 80%;
    justify-content: center;
    transition: right .3s ease-in-out;
  }
}

/* Create Room */

.room__phrase {
  width: 100%;
  max-width: 75%;
}

.room__content {
  font-size: var(--room-text);
  color: var(--purple-color);
  font-family: var(--pxg-bold);
  position: relative;
  line-height: 135%;
}

.input-layer-off {
  border: none;
  background: none;
  outline: none;
  font-size: var(--room-text);
  color: var(--purple-color);
  font-family: var(--pxg-bold);
}

.input-stroke {
  -webkit-text-stroke: var(--stroke);
  color: transparent;
  caret-color: var(--purple-color);
}

.input-stroke::placeholder {
  -webkit-text-stroke: var(--stroke);
  color: transparent;
}

.target_room-name::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 39.7rem;
  height: 24.9rem;
  background: url(../assets/svg/room-input-balls.svg) center center no-repeat;
}

.amount-of-friends-wrapper {
  position: relative;
}

/* NEEDS FURTHER INVESTIGATION; */

/*.amount-of-friends-wrapper::after {
  content: '';
  position: absolute;
  top: 35%;
  left: 0;
  z-index: -1;
  width: 7.2rem;
  height: 7.2rem;
  background: url(../assets/svg/amount-of-friends.svg) center center no-repeat;
}*/

/* Created Room */

.room__share {
  font-size: var(--created-room-text);
  color: var(--purple-color);
  margin: 14rem 0 0;
}

.room__joined {
  margin: 7rem 0 0;
}

.room__share--input {
  font-family: var(--pxg-bold);
}

.btn:disabled,
input:disabled {
  opacity: .5;
}

/* Joining Room */

.roomname-wrapper {
  width: 70%;
}

.input-underline {
  border-bottom: 2px solid var(--purple-color);
  width: 100%;
}

/* Joined Room */

.joined-room__content {
  width: 100%;
  max-width: 70%;
}

.joined-roomname::after {
  left: 20%;
}
