- GAME_CSS = GAME_CSS ? GAME_CSS : 'game.css'
- GAME_JS = GAME_JS ? GAME_JS : 'game.js'

doctype html
html
  head
    title WebVR Bowling Game
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(type="text/css" href="/css/"+GAME_CSS)
  body
    include game.html
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/aframe/0.7.1/aframe.min.js")
    script(type="text/javascript" src="/js/"+GAME_JS)
