- INDEX_CSS = INDEX_CSS ? INDEX_CSS : 'index.css'
- INDEX_JS = INDEX_JS ? INDEX_JS : 'index.js'

- VENDORS_JS = VENDORS_JS ? VENDORS_JS : 'vendors.js'
- GAME_JS = GAME_JS ? GAME_JS : 'game.js'

doctype html
html
  head
    title WebVR Bowling Game
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(type="text/css" rel="stylesheet" href="/css/"+INDEX_CSS)
    script
      include js/webfontloader.js
  body
    main

      header.main__header
        h1.main-title.sr-only Virtual Lanes

      include views/landing.html
      include views/create-room.html
      include views/created-room.html
      include views/join-room.html
      include views/joined-room.html
      include views/player-setup.html
      include views/game.html

    script(type="text/javascript" src="/socket.io/socket.io.js" defer)
    script(type="text/javascript" src="/js/vendor/webrtc-adapter-6.0.2.min.js" defer)
    script(type="text/javascript" src="/js/"+INDEX_JS defer)

    script(type="text/javascript" data-src="/js/vendor/aframe-0.7.1.min.js" defer).deferredScript
    script(type="text/javascript" data-src="/js/vendor/aframe-glow.js" defer).deferredScript
    script(type="text/javascript" data-src="/js/"+GAME_JS defer).deferredScript
