- INDEX_CSS = INDEX_CSS ? INDEX_CSS : 'index.css'
- INDEX_JS = INDEX_JS ? INDEX_JS : 'index.js'

- VENDORS_JS = VENDORS_JS ? VENDORS_JS : 'vendors.js'
- GAME_JS = GAME_JS ? GAME_JS : 'game.js'

doctype html
html
  head
    title WebVR Bowling Game
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(type="text/css" rel="stylesheet" href="/css/"+INDEX_CSS)
    include webfontloader.html
  body
    main.main
      header.main__header
        h1.main-title.sr-only Virtual Lanes
      section.dp-f.ff-cnw.ai-c.jc-c.section.landing
        header.dp-f.jc-c.ai-c.landing__header
          h1.dp-f.ff-cnw.landing__title Virtual
            span.dp-f.as-fe.landing__title__span Lanes
        article.dp-f.ff-cnw.ai-c.landing__content
          h2.landing__subtitle a multiplayer virtual reality bowling game
          div.dp-f.ff-rnw.ai-c.jc-sb.btn-wrapper
            button.dp-f.btn.btn_goto-create-room Create Room
            button.dp-f.btn.btn_goto-join-room Join Room

      section.dp-f.ff-cnw.ai-c.jc-sa.section.section--off.room.room--create
        include create-room.html

      section.dp-f.ff-cnw.ai-c.jc-sa.section.section--off.room.room--created
        include created-room.html

      section.dp-f.ff-cnw.ai-c.jc-sa.section.section--off.room.room--joining
        include joining-room.html

      section.dp-f.ff-cnw.ai-c.jc-sa.section.section--off.room.room--joined
        include joined-room.html

      section.dp-f.ff-cnw.ai-c.jc-sa.section.section--off.player-setup
        include player-setup.html

    include game.html

    script(type="text/javascript" src="/socket.io/socket.io.js" defer)
    script(type="text/javascript" src="/js/vendor/webrtc-adapter-6.0.2.min.js" defer)
    script(type="text/javascript" src="/js/"+INDEX_JS defer)

    - // we will be loading this stuff later when we arrive on the game page
    - // we will take the data-src and add it as src
    - // but the files will be loaded by index.js immediately when the page loads

    script(type="text/javascript" data-src="/js/vendor/aframe-0.7.1.min.js" defer).deferredScript
    script(type="text/javascript" data-src="/js/vendor/aframe-glow.js" defer).deferredScript
    script(type="text/javascript" data-src="/js/"+GAME_JS defer).deferredScript
